.overlay {
 	position:absolute;
	display:none;

    /* color with alpha transparency */
    background-color: rgba(0, 0, 0, 0.7);

    /* stretch to screen edges */
    top: 0;
	left: 0;
    bottom: 0;
    right: 0;
}

.popup {
    position: absolute;
    width: 80vw;
    height: 30vh;
    display: none;
    background-color: white;
    text-align: center;
    margin: 30vh 10vw;
    border-radius: 15px !important;
}
.popup-text{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 70px;
  align-content: center;
}

.remove-image {
  position: absolute;
  margin-top: 5vh;
    margin-right: 1vw;
  right: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: xx-large;
  padding: 32px 46px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.img-output {
    z-index: 101;
    width: 100vw;
    height: 100vh
}

.submit-solve-btn-placeholder {
    position: fixed;
    bottom: 3%;
    width: 100%;
    border-radius: 10px !important;

}

.solve-btn {
    width: 90%;
    height: 7vh;
    margin-left: 5%;
    margin-right: 5%;
    font-size: xxx-large;
    border-radius: 10px !important;

}

.submit-btn {
    width: 90%;
    height: 7vh;
    margin-left: 5%;
    margin-right: 5%;
    font-size: xxx-large;
    border-radius: 10px !important;

}


.logo {
    margin: 10% auto auto;
    max-width: 80%;
    max-height: 40%;
    width: 80vw;
    height: 40vh;
    top: 50%;
   transform: translateX(10vw);
}

.spinner {
  position: fixed;
  z-index: 999;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 20rem;
  height: 20rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
